    <div class="contact_us_8" id="contact">
      <div class="responsive-container-block container">
          <form class="form-box" id="contact-form" data-form>
              <div class="container-block form-wrapper">
                  <div class="responsive-container-block">
                      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i10mt-9">
                          <input class="input" id="ijowk-9" name="FirstName" placeholder=" Name" required data-form-input>
                      </div>
  
                      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i0txn">
                          <input class="input" id="imgis-8" name="PhoneNumber" placeholder="Phone Number" type="number"  required data-form-input>
                      </div>
  
                      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="iajvf">
                          <input class="input" id="ipmgh-9" name="Email" placeholder="Email">
                      </div>
  
                      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i634i-9">
                          <textarea aria-placeholder="What’s on your mind?" class="textinput" id="i5vyy-9" placeholder="What’s on your mind?"  required data-form-input></textarea>
                      </div>
                  </div>
  
                  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12 checkbox-container" id="i634i-2-2">
                      <div class="checkboc-container">
                          <input id="i0m1w" type="checkbox">
                          <p class="checkbox-text" id="i5ywz">
                              Turpis blandit massa interdum quam amet.
                          </p>
                      </div>
                  </div>
  
                  <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-8 wk-ipadp-12" id="i0txn-2">
                      <button class="submit-btn" type="submit">
                          Submit
                      </button>
                  </div>
  
                  <div class="right-side-text">
                      <p class="text-blk contactus-head">
                          Get in Touch
                      </p>
                      <p class="text-blk contactus-subhead">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis diam lectus sapien.
                      </p>
                      <div class="social-media-links">
                          <a href="#" id="ix94i-2-3">
                              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png">
                          </a>
                          <a href="#">
                              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
                          </a>
                          <a href="#">
                              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png">
                          </a>
                          <a href="#" id="izldf-2-3">
                              <img class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
                          </a>
                      </div>
                  </div>
              </div>
              <div id="success-toast" style="display: none; background-color: green; color: white; padding: 10px; position: absolute; top: 20px; right: 20px;">Message Sent Successfully!</div>
  <div id="error-toast" style="display: none; background-color: red; color: white; padding: 10px; position: absolute; top: 20px; right: 20px;">Error Sending Message</div>
          </form>
      </div>
  </div>