<div class="container h-100" style="background-color:  rgb(240, 236, 247);">
    <div class="row align-items-center h-100">
      <div class="container rounded">
        <h2 class="text-center">Our CUSTOMERS</h2>
        <div class="slider">
          <div class="logos">
            <i class="fab fa-js fa-4x">js</i>
            <i class="fab fa-linkedin-in fa-4x">linked</i>
            <i class="fab fa-dribbble fa-4x">dbbble</i>
            <i class="fab fa-medium-m fa-4x">med</i>
            <i class="fab fa-github fa-4x">git</i>
            <i class="fab fa-dribbble fa-4x">dbbble</i>
            <i class="fab fa-medium-m fa-4x">med</i>
            <i class="fab fa-github fa-4x">git</i>
          </div>
          <div class="logos">
            <i class="fab fa-js fa-4x">js</i>
            <i class="fab fa-linkedin-in fa-4x">linked</i>
            <i class="fab fa-dribbble fa-4x">dbbble</i>
            <i class="fab fa-medium-m fa-4x">med</i>
            <i class="fab fa-github fa-4x">git</i>
            <i class="fab fa-dribbble fa-4x">dbbble</i>
            <i class="fab fa-medium-m fa-4x">med</i>
            <i class="fab fa-github fa-4x">git</i>
          </div>
          <div class="logos">
            <i class="fab fa-js fa-4x">js</i>
            <i class="fab fa-linkedin-in fa-4x">linked</i>
            <i class="fab fa-dribbble fa-4x">dbbble</i>
            <i class="fab fa-medium-m fa-4x">med</i>
            <i class="fab fa-github fa-4x">git</i>
            <i class="fab fa-dribbble fa-4x">dbbble</i>
            <i class="fab fa-medium-m fa-4x">med</i>
            <i class="fab fa-github fa-4x">git</i>
          </div>
        </div>
      </div>
    </div>
  
  </div>