<div class="pg-footer">
  <footer class="footer">
    <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
      <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
    </svg>
    <div class="footer-content">
      <div class="footer-content-column">
        <div class="footer-logo">
          <a class="footer-logo-link" href="#">
            <span class="hidden-link-text">Navlakha Technologies</span>
            <img class="logo-img" src="/images/nav-logo.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="footer-content-column">
        <div class="footer-menu">
          <h2 class="footer-menu-name">Quick Links</h2>
          <ul id="menu-quick-links" class="footer-menu-list">
            <li class="menu-item"><a href="#home">Home</a></li>
            <li class="menu-item"><a href="#About">About Us</a></li>
            <li class="menu-item"><a href="#modules">Modules</a></li>
            <li class="menu-item"><a href="#why-us">Why Us?</a></li>
            <li class="menu-item"><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-content-column">
        <h2 class="footer-menu-name">Follow Us</h2>
        <div class="footer-social-links">
            <a href="#" title="Facebook" class="footer-social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" title="Twitter" class="footer-social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" title="Instagram" class="footer-social-link"><i class="fab fa-instagram"></i></a>
            <a href="#" title="LinkedIn" class="footer-social-link"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="footer-copyright-wrapper">
        <p class="footer-copyright-text">
          <span>&copy;2024 Navlakha Technologies | All rights reserved.</span>
        </p>
      </div>
    </div>
  </footer>
</div>
