<section class="hero" id="home">
  <div class="hero-content">
    <p class="hero-subtitle">Navlakha Technologies - Founded in 2021</p>

    <h2 class="h2 hero-title">Streamline Your Business with Advanced ERP Solutions</h2>

    <p class="hero-text">
      We provide powerful and intuitive ERP software to help you manage every aspect of your business. From HR and payroll to CRM and inventory, our solutions are designed to boost efficiency and drive growth.
    </p>
    <a href="#modules">
      <button class="btn">Explore Our Modules</button>
    </a>
  </div>

  <figure class="hero-banner">
    <img src="https://img.freepik.com/free-vector/data-points-concept-illustration_114360-2549.jpg?t=st=1716388732~exp=1716392332~hmac=6217154235e236350f5589c316719b6727e0ce86b72a440156d47b672462612a&w=740" loading="lazy" alt="hero-banner" class="hero-image">
  </figure> 
</section>
