<section class="hero" id="home">
  <div class="hero-content">
    <p class="hero-subtitle">We Are Product Designer From UK</p>

    <h2 class="h2 hero-title">We Design Interfaces That Users Love</h2>

    <p class="hero-text">
      Morbi sed lacus nec risus finibus feugiat et fermentum nibh.
      Pellentesque vitae ante at elit fringilla ac at purus.
    </p>
    <a href="#services">

      <button class="btn">Learn More</button>
    </a>
  </div>

  <figure class="hero-banner">
    <img src="https://raw.githubusercontent.com/codewithsadee/desinic/master/assets/images/hero-banner.png" loading="lazy" alt="hero-banner" class="hero-image">
  </figure> 
</section>