<nav>
  <div class="logo">
    <img class="logo-img" src="/images/nav-logo.png" alt="logo" />   
  </div>
  <ul>
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#services">Services</a>
    </li>
    <li>
      <a href="#modules">Module</a>
    </li>
    <li>
      <a href="#About">About</a>
    </li>
    <li>
      <a href="#contact">Contact Us</a>
    </li>

  </ul>
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</nav>
<div class="menubar">
  <ul>
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
  </ul>
</div>