<nav>
    <div class="logo">
        <img src="/images/nav-logo.png" alt="Navlakha Technologies" class="logo-img">
    </div>
    
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#About">About Us</a></li>
        <li><a href="#modules">Modules</a></li>
        <li><a href="#why-us">Why Us?</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
    <div class="menubar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#About">About Us</a></li>
            <li><a href="#modules">Modules</a></li>
            <li><a href="#why-us">Why Us?</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>