<section class="section features" id="services">
  <div class="container">
    <h1 class="h2 section-title underline" style="size: 35px;">Our Features</h1>

    <ul class="features-list">
      <li>
        <div class="features-card">
          <div class="icon">
            <ion-icon name="bulb-outline" role="img" class="md hydrated" aria-label="bulb outline">Idea</ion-icon>
          </div>

          <div class="content">
            <h3 class="h3 title">Idea &amp; Analysis</h3>

            <p class="text">
              Praesent tincidunt congue est ut hendrerit. Pellentesque et
              eros sit amet ipsum venenatis.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="features-card">
          <div class="icon">
            <ion-icon name="color-palette-outline" role="img" class="md hydrated" aria-label="color palette outline">Design</ion-icon>
          </div>

          <div class="content">
            <h3 class="h3 title">Designing</h3>

            <p class="text">
              Praesent tincidunt congue est ut hendrerit. Pellentesque et
              eros sit amet ipsum venenatis.
            </p>
          </div>
        </div>
      </li>
    </ul>

    <div class="feature-middle">

      <div class="features-card"  style="height: 180px;">
          <div class="icon">
            <ion-icon name="color-palette-outline" role="img" class="md hydrated" aria-label="color palette outline">Design</ion-icon>
          </div>

          <div class="content">
            <h3 class="h3 title">Designing</h3>

            <p class="text">
              Praesent tincidunt congue est ut hendrerit. Pellentesque et
              eros sit amet ipsum venenatis.
            </p>
          </div>
        </div>

        <figure class="features-banner">
          <img src="https://raw.githubusercontent.com/codewithsadee/desinic/master/assets/images/feautres-banner.png" width="369" height="318" loading="lazy" alt="Features Banner" class="w-100 banner-animation">
        </figure>

        <div class="features-card" style="height: 180px; padding: 10px;">
          <div class="icon">
            <ion-icon name="color-palette-outline" role="img" class="md hydrated" aria-label="color palette outline">Design</ion-icon>
          </div>

          <div class="content">
            <h3 class="h3 title">Designing</h3>

            <p class="text">
              Praesent tincidunt congue est ut hendrerit. Pellentesque et
              eros sit amet ipsum venenatis.
            </p>
          </div>
        </div>

    </div>

    <ul class="features-list">
      <li>
        <div class="features-card">
          <div class="icon">
            <ion-icon name="code-slash-outline" role="img" class="md hydrated" aria-label="code slash outline">Develop</ion-icon>
          </div>

          <div class="content">
            <h3 class="h3 title">Development</h3>

            <p class="text">
              Praesent tincidunt congue est ut hendrerit. Pellentesque et
              eros sit amet ipsum venenatis.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="features-card">
          <div class="icon">
            <ion-icon name="rocket-outline" role="img" class="md hydrated" aria-label="rocket outline">Test</ion-icon>
          </div>

          <div class="content">
            <h3 class="h3 title">Testing &amp; Lunching</h3>

            <p class="text">
              Praesent tincidunt congue est ut hendrerit. Pellentesque et
              eros sit amet ipsum venenatis.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>