<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - MyCompany</title>
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/services.css" />
    <link rel="stylesheet" href="/stylesheets/module.css" />
    <link rel="stylesheet" href="/stylesheets/customer.css" />
    <link rel="stylesheet" href="/stylesheets/contact.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
</head>
<body>
   <header>
     <% include partials/navbar %>
   </header>
   
   <main>
      <% include partials/home %>
      <% include partials/modules %>
      <% include partials/services %>
      <% include partials/customer %>
      <% include partials/About %>
      <% include partials/contact %>
   </main>

   <footer>
    <% include partials/footer %>
   </footer>  
   <script src="/javascripts/navbar.js"> </script>
   <script src="/javascripts/contact.js"> </script>
   <script src="/javascripts/modules.js"> </script>
   
</body>
</html>
