  .container {
    overflow: hidden;
    padding: 20px;
    text-align: center;
    color: #004658;
  }
  
  .container .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
  }
  
  .container .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
  }
  
  .container .slider .logos .fab {
    width: 20%;
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    margin: 50px;
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  