.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  background-color: #f8f9fa;
}

.hero-content {
 flex: 1;

}

.hero-banner{
  flex: 2;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 20px;
}

.hero-content .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hero-content .btn:hover {
  background-color: #0056b3;
}

.hero-image img {
  
  height: auto;
  border-radius: 10px;
}


@media (max-width: 980px) {
  .hero {
    flex-direction: column;
  }
  
  .hero-content,
  .hero-banner {
    flex: 1;
  }
}

.hero-image {
  width:80%;
}